doctype html
html
    head
        title Password Reset
    body
        h1 Password Reset
        p A password reset has been requested for your account. Please click the link below to reset your password:
        a(href=`${resetUrl}`) Reset Password
        p If you did not request a password reset, please ignore this email.
