.orders__settings {
    margin-top: 47px;
    margin-left: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.orders__settings h4 {
    font-style: normal;
    font-weight: 400;
}

.orders__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 24px;
}

.search-field__image {
    display: flex;
}

.orders__search-box {
    display: flex;
}
  

.orders__search-input {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 14px 18px 14px;
  }
  
.orders__search-field {
    margin-bottom: 20px;
}
  
.search-field__button {
    padding-left: 20px;
    border-radius: 5px 0px 0px 5px;
}
  
.clear-field__button {
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}
  
.orders__search-input {
    border: none;
}

.orders__input-box {
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}
  
.search__button {
    background-color: #1c7ff3;
    color: #fdfdfd;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    padding: 0 32px;
    font-family: 'Montserrat';
}

