.wishlist__settings {
    margin-top: 47px;
    margin-left: 48px;
}

.wishlist__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 25px;
}