.not__found {
  overflow: hidden;
}

.not_found_cart-title {
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 450;
    font-size: 240px;
    line-height: 308px;
    color: #050630;
    margin-bottom: 28px;
  }
  
  .not_found_cart-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #050630;
    margin-bottom: 40px;
  }
  
  .successfull__button {
    background-color: #fdeb46;
    border-radius: 5px;
    padding: 28px 58px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }
  
  .not_found_cart-inner {
    display:flex;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .not_found_cart-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 166px;
  }
  
  .not_found_cart-right {
    display: flex;
    align-items: flex-end;
    padding-top: 73px;
  }

  .not__found-image {
    margin-top: 10px;
  }
