.goods__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.goods__counter-number {
  display: flex;
  justify-content: center;
  width: 80px;
}

.goods__counter-add,
.goods__counter-remove {
  padding: 28px 13px;
  display: flex;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
