.header {
  background-color: #fdfdfd;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

.header__top-left {
  display: flex;
  align-items: center;
}

.header__list-items {
  display: flex;
  align-items: center;
}

.header__city {
  display: flex;
  align-items: center;
}

.header__city-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-right: 5px;
}

.header-top__vertical-line {
  margin: 0 30px;
}

.header__map {
  margin-right: 10px;
}

.header__list-item {
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.header__promo {
  background: rgba(228, 40, 40, 0.7);
  border-radius: 10px;
  padding: 10px;
  color: #fdfdfd;
}

.header__bottom {
  background-color: #050630;
  padding: 18px 0;
}

.header__bottom-items {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__bottom-catalog {
  color: #fdfdfd;
  display: flex;
  background-color: #282766;
  border-radius: 5px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.header__bottom-catalog span {
  margin-left: 12px;
  margin-right: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
}

.header__search-box {
  display: flex;
}

.search-field__image {
  display: flex;
}

.header__search-input {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 14px 18px 14px;
  width: 651px;
}

.header__search-field {
  margin-left: 44px;
}

.search-field__button {
  padding-left: 20px;
  padding-right: 0;
  border-radius: 5px 0px 0px 5px;
}

.clear-field__button {
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.search-field__button,
.header__search-input,
.clear-field__button,
.search__button {
  border: none;
}

.search-field__button,
.header__search-input,
.clear-field__button {
  background-color: #fdfdfd;
}

.search__button {
  background-color: #1c7ff3;
  color: #fdfdfd;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  padding: 0 32px;
  font-family: 'Montserrat';
  cursor: pointer;
}

.header__bottom-languages {
  padding-left: 44px;
  display: flex;
  align-items: center;
}

.header__button-language {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #fdfdfd;
}

.header__bottom-language_vertical-line {
  color: #d9d9d9;
  margin: 0 10px;
}

.header__bottom-icons {
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__bottom-icon {
  display: flex;
  justify-content: center;
}

.header__account {
  padding: 0 30px;
}
