*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  font-size: 25px;
  font-weight: 500;
  color: #050630;
}

body::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #D9D9D9;  
}

body::-webkit-scrollbar-thumb {
  background-color: #6C6C6C; 
  border-radius: 20px; 
  border: 1px solid #6C6C6C; 
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input::placeholder {
  color: #b2b2b7;
}

.container {
  max-width: 1760px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

::placeholder {
  color: #b2b2b7;
  font-family: 'Montserrat';
}

.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods__inner {
  width: 100%;
  display: flex;
  margin-bottom: 90px;
}

.goods__left {
  width: 100%;
  padding-right: 82px;
}

.goods__right {
  width: 100%;
  padding-left: 82px;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.breadcrumbs__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1c7ff3;
}

.breadcrumbs__link {
  display: flex;
  text-align: center;
}

.breadcrumbs__icon {
  margin: 0 10px;
}

.goods__description {
  margin-top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #050630;
  width: 100%;
}

.goods__name-top {
  display: flex;
  flex-direction: row;
}

.goods__company {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #1c7ff3;
  padding-right: 16px;
  border-right: 1px solid #d9d9d9;
}

.goods__id {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #b2b2b7;
  padding-left: 16px;
}

.goods__name-top {
  margin-bottom: 32px;
}

.goods__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #050630;
  padding-bottom: 32px;
  border-bottom: 2px solid #d9d9d9;
}

.goods__price-top {
  margin-top: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.goods__price-old {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  padding-right: 15px;
}

.goods__price-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #050630;
}

.goods__price-old--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #d9d9d9;
  text-decoration: line-through;
}

.goods__delivery-cost--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.goods__delivery-cost--city {
  color: #1c7ff3;
}

.goods__price-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 45px 45px 45px 18px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 14px;
  margin-top: 62px;
  width: 100%;
}

.goods__price-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1c7ff3;
}

.goods__termination-text--nodiscount {
  max-width: 500px;
  width: 100%;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin-left: 32px;
}

.goods__price-new--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #1C7FF3;
}

.goods__price-new--text.red {
  color: rgba(228, 40, 40, 0.7);
}

.goods__new-price {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
}

.goods__new-discount {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.goods__likes-box {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
}

.goods__likes-right {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.goods__likes-text {
  color: #FDEB46;
}

.goods__likes-icon {
  cursor: pointer;
}

.goods__likes-title,
.goods__discount-title {
  margin-bottom: 7px;
}

.goods__buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 37px;
  gap: 47px;
}

.goods__buttons-add {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #fdeb46;
  border: none;
  border-radius: 5px;
  padding: 28px 42px;
  cursor: pointer;
  width: 100%;
}

.goods__buttons-buy {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: 4px solid #fdeb46;
  border-radius: 5px;
  padding: 24px 13px;
  cursor: pointer;
  width: 100%;
}

.goods__counter-add {
  border-radius: 5px 0px 0px 5px;
}

.goods__counter-remove {
  border-radius: 0px 5px 5px 0px;
}

.goods__counter-number {
  padding: 18px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  border: 1px solid #d9d9d9;
}

.goods__in-stock {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 18px;
}

.goods__details-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.goods__details-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.goods__details-content {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 12px;
}

.goods__details-container {
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.goods__details {
  margin-bottom: 18px;
}

.goods__details-top.active svg {
  transform: rotate(180deg);
}

.care__instrucions-top {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.care__instructions-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-left: 16px;
  color: #1c7ff3; 
}

.care__instructions {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 30px;
  max-width: 100%;
  background-color: #f9f9f9;
  margin-top: 60px;
}

.care_instructions-text {
  max-width: 655px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.cart {
  overflow-y: hidden;
}

.cart__header {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-top: 80px;
  margin-bottom: 44px;
}

.cart {
  overflow: auto;
}

.settings__screen {
  min-height: 100vh;
  overflow: auto;
}

.cart__titles {
  padding-bottom: 12px;
  border-bottom: 2px solid #D9D9D9;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart__quantity-title {
  text-align: center;
}

.cart__subtotal-title {
  text-align: right;
}

.cart__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #D9D9D9;
  width: 170px;
}

.cart__titles-title {
  margin-left: 207px;
  width: 270px;
  display: block;
}

.cart__titles-right {
  display: flex;
  gap: 8%;
  width: 100%;
  justify-content: flex-end;
}

.cart__summary {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin-top: 80px;
  margin-bottom: 36px;
  align-items: flex-end;
}

.cart__summary-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-right: 8px;
}

.cart__summary-price {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.cart__summary-top {
  padding: 18px 17px;
}

.cart__summary-bottom {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;  
  color: #1C7FF3;
  margin-right: 17px;
}

.delivery__title {
  margin-right: 5px;
}

.cart__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 200px;
}

.cart__buttons-price {
  margin-left: 5px;
}

.cart__button-buy {
  background: #FDEB46;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 27px 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none; 
  cursor: pointer;
  margin-right: 10px;
}

.cart__button-continue {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 27px 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #FDEB46;
}

.cart__empty-title {
  text-align: center;
}

.product__reviews {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 30px;
}


.comment__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1C7FF3;
  cursor: pointer;
}

.comment__link:hover {
  color: rgba(237, 45, 45, 0.7);
  text-decoration-line: underline;
  transition: all .2s ease-in-out;
}

.product__reviews-empty {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}